[2016-12-20 08:31] 4ossiblellc opened #5 "Cannot find module 'serverless-aws-documenation'"
I followed the installation instruction. However, I am still getting the following error:

[code]

[2016-12-20 10:17] tchock commented on #5
There was a typo in the documentation. There was already a PR ( #4  ) fixing this and I merged that.

You need to add a "t" there:

[code]

[2016-12-20 10:17] #5 closed

[2016-12-21 14:54] tchock opened #6 ""Unable to complete operation due to concurrent modification." Error appears"
Because the documentation parts are created and uploaded to AWS
concurrently, this error can occur:
"Unable to complete operation due to concurrent modification."

It would be better to create documentation parts sequentially. This would make creating them take longer, but also would get rid of this flakey behaviour.

[2016-12-21 15:01] #6 closed

[2016-12-22 16:00] fssantana opened #8 "Documentation parts not created with Lambda Proxy integration"
Hello,

I used the plugin as the README, and it created **methodResponses** and **models**. But the plugin did not created the **Documentation parts**, the **methodRequest**, **queryParams**, **headers**, etc
I'm using Lambda Proxy integration
Could someone help me?
[yaml.txt](https://github.com/9cookies/serverless-aws-documentation/files/669175/yaml.txt)

[2016-12-22 21:49] thomasmichaelwallace opened #9 "RestApiId not set"
I'm not sure if it's my configuration, but this plugin can't detect my RestApiId and therefore fails to update/create the documentation.

I've found a fix, which involves adding an alternative to assuming the the Cloud Formation stack has `ApiId`, as it can also be taken from the `ServiceEndpoint`.

I'll make a PR for discussion.

[2016-12-24 12:48] tchock commented on #9
@thomasmichaelwallace Can you give more information about your configuration? Because normally the cloud formation stack should be established before the after deploy hook. But maybe it would be good to wait for completion first. Because your fix rather looks like a workaround.

I can't imagine the API ID not being there in general. I will have a look into this the next days (after Christmas).

[2016-12-24 12:50] tchock commented on #8
I will create a test environment and have a look into this after christmas.

[2016-12-26 20:48] thomasmichaelwallace commented on #9
Sure,

It's quite possible I'm doing something wrong, however this turns out what I want- a lambda backed API Gateway call with a human readable url (serverless@1.4.0:):

[code]

I take what you mean about it being more of a workaround.

From what I saw the cloud formation stack has been established by the time this code runs. It's just that the stacks don't include any with the key 'ApiId'. They

[2016-12-28 12:38] tchock commented on #9
@thomasmichaelwallace I guess I found the problem that caused that bug.
In the project I was testing this, I added the api key to the outputs of cloud formation. The documentation part first looks for this api key, but it is not there when you don't add this to the output.

I tested this with the serverless.yml that you were providing and it worked when I added the key.
I will fix this today and g

[2016-12-28 13:08] tchock commented on #9
Fixed the bug in #11. @thomasmichaelwallace: Can you have a look it this solves your problem?

[2016-12-28 13:12] tchock commented on #8
This could be because of the same bug discussed in #9. I will merge the PR soon.
@fssantana I will inform you when the fix is published. Maybe this solves your problem, too.

[2016-12-28 13:17] #9 closed

[2016-12-28 21:24] thomasmichaelwallace commented on #9
Cheers @tchock that fixed it.

[2016-12-28 21:26] tchock commented on #8
@fssantana Just try to update to the newest version of this plugin. Maybe that will fix your issue. Can you give me an update if that helped? :)

[2017-01-05 13:34] fredoche commented on #8
I believe I have the same issue. The section in custom/documentation and models/description do not yield any output in the generated documentation.

[2017-01-14 22:14] cdichiara opened #13 "Great plugin! Quick question about documentation ..."
Great job with the plugin, folks! :) It made it possible for me to migrate from v0.5.6 to v1.x.

So, quick question about the documentation in README.md:

I'm assuming you're referring to something like this, right?

[code]
Correct? Or can your plugin translate a YAML definition of the model into JSON and export it?

Thanks!

[2017-01-15 02:07] tchock commented on #13
Great that you like it :)
You can also just use YAML in there and it will be made into JSON, that's right.

[2017-01-15 02:20] cdichiara commented on #13
Nice. :) Thanks!

[2017-01-15 02:20] #13 closed

[2017-01-15 02:27] cdichiara opened #14 "aws-sdk dependency ..."
Hey,

Just a quick question ... I was hoping to test this before asking you this, but my serverless builds are stuck on various bugs I can't find yet and I was wondering...

I noticed your plugin has to be installed locally (like all serverless plugins), and is dependent upon aws-sdk. I haven't checked yet, but I'm guessing that the default behavior of serverless will be to grab all of the package

[2017-01-15 11:29] tchock commented on #14
Hi,
The reason why the AWS sdk is included is, that prior Serverless 1.4 the version of the sdk this plugin needs wasn't included. Because of backwards compatibility we decided to leave the dependency in for a while.

I don't know what the current distribution of serverless versions is. I guess we could get rid of the dependency and use the build in sdk of serverless.

I will have a look if for me

[2017-01-15 14:18] cdichiara commented on #14
Yeah, that makes complete sense why you do it. I was concerned that I had set up my service wrong, and that noone uses the same `/node_module` folder for both what the service needs and what the service plugin needs. But from your response it seems like this is quite the possibility.

It sounds like I should explicitly exclude the aws-sdk (and your plugin, for that matter) for now, and perhaps for

[2017-01-15 14:18] #14 closed

[2017-01-15 14:20] cdichiara commented on #14
If you haven't guessed it btw, I'm just so relieved this plugin exists that you could translate my documentation to Italian every 3 weeks and I'd find a workaround for it. :)

[2017-01-20 05:04] hoangleanhtu commented on #8
Hi,

If resource.Properties.MethodResponses = [] then [this line](https://github.com/9cookies/serverless-aws-documentation/blob/master/src/models.js#L26) is always true => MethodResponses aren't created.

Could you please check this?

Thank you.

[2017-01-23 16:51] brettcohen commented on #8
Hello there,

I am also not having Documentation generated for the AWS Resources, Methods, etc. if the API Endpoint is configured as a Lambda_Proxy.  I have the latest version of this library.  Is there any progress with this bug?

Thanks!

[2017-01-24 01:28] dperjar opened #17 "No responses not set for endpoints"
I'm working on a second project using the serverless-aws-documentation plugin `0.5.6` and running into an issue where response models are not being set for my serverless endpoints.

Request models are present but the Responses object is missing when I "Export as Swagger" in API Gateway. All of my models have been imported in the "Models" section of API Gateway but the response models are not inclu

[2017-01-24 09:16] tchock commented on #17
Can you try upgrading to version 0.5.4? It could be that this bug has to do with the method responses. This could narrow down the problem that you are having.

[2017-01-24 09:18] tchock commented on #8
I haven't had the time to look into that. But when I have some time I will investigate that behaviour. Thanks for all the support from you 👍

[2017-01-24 18:04] dperjar commented on #17
`0.5.4` Seems fine and produces correct output as well.

There is one other thing I noticed... and this may just be a different issue because it happens across all versions, but I have an endpoint using the lambda integration rather than the default proxy integration and it has response codes in the output (more than the ones I've defined, in fact) but has no models assigned to those responses.

T

[2017-01-30 20:55] cdichiara commented on #17
Ah ... I'm glad I swung by.

I have a regression in v0.5.6 that looks like this.

Here's what `cloudformation-template-update-stack.json` looks like for v0.5.5:
[code]

Here's what it looks like for v0.5.6:
[code]
With no change to `serverless.yml` in between. Just let me know if you need more information to reproduce this - I'm willing to send you my serverless.yml privately, I just don't know if

[2017-02-10 14:45] tchock commented on #17
@dperjar, @cdichiara, I think I fixed it. Can you please have a look at #18?
Would be cool if you can add the commit in this PR to your project and try it out.
Hopefully this fixes your problems.

[2017-02-10 14:48] tchock commented on #8
@brettcohen, @hoangleanhtu, @fredoche
Can you test the commit in the PR #18 with your project?
Maybe #17 is just a duplicate of this issue.

[2017-02-12 19:19] #17 closed

[2017-02-15 15:08] cmdrmcdonald opened #19 "Binary models should not require a schema"
In the README.md you state:

    Models have additional information you have to define. Besides the model name, the description and the summary, you need to define the content type for this model in addition to the schema that describes the model. Both are mandatory

I have a method that returns an image, so content type is 'image/jpeg'.  In this situation there is no schema but I would still want

[2017-02-15 22:10] tchock commented on #19
@cmdrmcdonald Of course. I haven't thought of binary as content. I will just add this.

[2017-02-15 22:13] tchock commented on #19
The thing is, that schema is required by CloudFormation. But you can already do this by just defining schema as "{}" (see http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-apigateway-model.html).

But either way I will update this to fill this in automatically, when you don't specify schema.

[2017-02-21 23:00] msl-kabo commented on #8
I'm using v0.5.7 and I'm not seeing any documentation either.

[code]

![selection_003](https://cloud.githubusercontent.com/assets/21163915/23189093/2b9fd8de-f8f6-11e6-9277-fab88554ef00.png)

[2017-03-07 17:31] marcelog opened #20 ""DependsOn" for models?"
Hello!

I was wondering if there's any way to specify dependencies between models (for example a model that inside has a $ref to another one) so they get created in the right order.

Right now one has to create (and/or update) the models incrementally so the dependencies are correctly found.

Thanks in advance, and great work, btw :)

Cheers,

[2017-03-07 17:34] marcelog opened #21 "Inserting API_ID in models automatically"
Hello!

What are your thoughts on adding a way to search for a specific string in the schema files and replacing it with the API ID "automagically"? This is useful when for example specifying references like:

[code]

Thanks in advance!

Best regards,

[2017-03-07 20:38] SkippyZA commented on #8
So I have been debugging this issue as I am experiencing it too. According to https://github.com/9cookies/serverless-aws-documentation/blob/master/src/index.js#L60 you need to also specify `customVars.documentation.version`

[2017-03-09 10:15] tchock commented on #21
Hey @marcelog,

Thanks for that great suggestion.
Sounds good. Maybe it would also be cool to only define the model name (optionally).
Like

[code]

What do you think.

[2017-03-09 10:16] tchock commented on #20
Yeah, great suggestion. I will work on this :)

[2017-03-09 10:20] tchock commented on #8
Yeah, this apparently got lost when writing the documentation. I will add it there.
I would love to add some object hash library in there so you don't need to define the version yourself. But in addition make it also possible to define the version yourself.

[2017-03-09 11:54] #8 closed

[2017-03-09 13:38] #19 closed

[2017-03-09 14:05] tchock opened #25 "Get rid of AWS SDK dependency"
Serverless have included the version needed for API Gateway documentation some time ago.
I think it is time to drop this in the next minor release (0.7.0).

[2017-03-09 16:14] SkippyZA commented on #8
Thanks very much for the random version @tchock Just started a new project at work so this all comes at a perfect time for me :+1:

[2017-03-12 14:41] nielsgl commented on #8
@tchock for some reason the generated documentation is still different between lambda and lambda proxy functions (using the latest version of the library, 0.6.0).
For example, I have this lambda-proxy snippet:
[code]

In the documentation on the API Gateway, the Response Code, Response Headers, Response Body and HelloWorldResponse model as well as the Query Parameters do show up ( http://nvgl.it/J

[2017-03-13 12:24] marcelog commented on #21
Hi @tchock! Sorry for the delay in my reply.

I was thinking in the following scenario: Let's say I have a dependency in my main serverless project.

That dependency *may* have its own models, so I'd like to import them (i.e: *copy* them into a directory so they "live" along with my own models and then deploy them to API Gateway).

In this case, those models *might* have their own namespace, a ful

[2017-03-14 10:22] tchock commented on #21
Sounds good. I would say that both ways should be implemented. Replacement of the API_ID and the whole URL when just referencing the model.

Maybe something like:
[code]

which will be replaced with:
[code]

and when you want to have more control over the URL:
[code]

which will be replaced with:
[code]

[2017-03-14 11:22] marcelog commented on #21
That's cool. But what if my dependency has:

[code]

How would that be turned into:

[code]

Thanks!

[2017-03-15 15:30] dkobia commented on #20
+1 on this as well. Just ran into the issue with `$ref` and the model not yet created. I had to delete the references, deploy, then re-add the references.

[2017-03-25 11:45] kabo opened #27 "requestHeaders aren't documented"
If I add a couple of `requestHeaders` to my documentation, they show up under the `Documentation` section in API Gateway, but they aren't included in the exported swagger. If I go to `Resources > [method] > Method Request` the `HTTP Request Headers` section isn't populated. My `Request Body` section is populated however, so that gets included in my swagger. I'm using lambda-proxy.

I'm guessing th

[2017-03-25 13:34] tchock commented on #27
I will take a look into this for 0.7.0. But can't give you any ETA for this

[2017-03-26 01:56] kabo commented on #27
I'd love to spend some time on it. Do you think that my guess is correct, that's the way I should solve it?

[2017-03-26 02:51] kabo commented on #27
This commit seems to work: https://github.com/kabo/serverless-aws-documentation/commit/c320aac5048a5f37db8ac0c1a2066930316f8bb1

I added a `required` option to the `requestHeaders` object. Defaults to false.

[code]

But it the code should probably not be in `models.js`...

[2017-03-26 14:35] tchock commented on #27
Looks good :)
Thanks for taking over!
Yeah, that probably should go to `documentation.js`.

When you are ready, can you also add some unit tests for that part?
After that I will gladly merge the PR :)

[2017-03-31 22:33] lylefile opened #30 "Vague error message "Unexpected string in JSON at position 110""
This error occurs from the inclusion of the json schema for an object model. It needs to include the line number in serverless.yml or the file name with the issue. Reporting the line and character rather than file position would also be useful.

[2017-04-04 10:11] tchock commented on #27
I reopened this because this also is the case for queryParams and body (probably other values too).
I am currently working on that.

[2017-04-04 11:33] #27 closed

[2017-04-04 12:33] #25 closed

[2017-04-04 12:39] marcelog commented on #20
Thanks for your attention to this @tchock! This will be a great addition because it will simplify deployments like @dkobia mentioned :)

[2017-04-04 12:45] tchock commented on #30
Can you show me an example with this error? The thing is, for this a JSON parser needs to be added.
Are you including the JSON as a file reference or embedded into the serverless.yml?
Also from your description, I don't know where this error happens. Could be serverless code and out of my scope.

[2017-04-06 13:35] marcelog opened #34 "Getting "Too Many Requests""
Hello,

I have a lot of models (50+) and I'm getting the error "Too Many Requests" when the deploy is about to finish. I'm only deploying about 5 lambdas, but as stated earlier there are a large number of models.

As a follow up on the discussion in serverless/serverless#85 I wanted to open this issue here to know your comments. The issue in question starts with the comment https://github.com/serv

[2017-04-07 16:10] leeeomaaax opened #35 ""Expected params.location.statusCode to be a string" on sls deploy"
Expected params.location.statusCode to be a string

I was only able to deploy when I changed my methodResponses status codes to strings. In the docs they are integers:

          methodResponses:
            -
              statusCode: 200
              responseBody:
                description: "Response body description"
              responseHeaders:
                -
                  name: "x

[2017-04-14 23:50] lylefile commented on #30
It's easy to reproduce, just add an invalid character to an existing schema file. Couldn't you just use JSON.parse to parse the files before submitting them? I think it's important for tools to narrow down the location of the error to increase developer efficiency.

[2017-04-14 23:50] #30 closed

[2017-04-14 23:52] lylefile opened #36 "Your example shows statusCode as a number, but a string is required"
is:
          methodResponses:
            -
              statusCode: 200

s/b:
          methodResponses:
            -
              statusCode: '200'

[2017-04-15 00:14] lylefile commented on #36
Sorry, this is a dup of #35.

[2017-04-15 00:14] #36 closed

[2017-04-15 00:19] lylefile opened #37 "Description not showing up in top-level API gateway"
The top-level API Gateway screen, which has a grid of boxes, each with the title of the gateway, only shows "No description". I would expect the top-level API gateway to show either the summary, the description, or both. I tried documenting the root URL ("/"), but that didn't work either. Is there another way, or is this a bug? Here's the first lines of my documentation tag:

documentation:
    ve

[2017-05-01 14:50] lylefile commented on #30
Yes, there was a syntax error in the referenced file. Couldn't JSON.parse
do the trick without bringing in another parser? Or perhaps the error text
could be improved to explain it's not in the main yml file.
Thanks,
Lyle

On Tue, Apr 4, 2017 at 5:45 AM, Simon Jentsch <notifications@github.com>
wrote:

--
Lyle Thompson, President/CEO
Lyle Labs, Inc
(805) 409-9007 x 700

[2017-05-17 01:18] cybercorey commented on #8
Same problem as you @nielsgl
Using v0.7.0

[2017-05-23 07:40] tomsaleeba commented on #37
After poking through the code of this plugin it seems it searches for particular keys under the `documentation` item: https://github.com/9cookies/serverless-aws-documentation/blob/master/src/globalDocumentationParts.json#L2

I found putting the global description under `api` gets it found by the plugin, e.g:
[code]
...that will produce a documentation part in API Gateway that's something like:
[co

[2017-05-25 02:20] lylefile commented on #37
Thanks Tom. Sounds promising!
Best regards,
Lyle

On Tue, May 23, 2017 at 12:41 AM Tom Saleeba <notifications@github.com>
wrote:

--
Lyle Thompson, President
Lyle Labs, Inc.

[2017-05-31 14:45] jeremiahkjones commented on #20
+1

[2017-06-07 09:07] eladhaz05 opened #38 "add examples to methoed responeses?"
Is there any option to add examples to method Response in documentation?

[2017-06-07 16:33] fredoche commented on #35
I confirm, I have the same issue, and the proposed workaround work for me as well.

[2017-06-07 16:34] fredoche commented on #35
I can eventually post my serverless.yml file or the cloudformation output..? FWIW, I'm using the serverless-documentation plugin.

[2017-06-28 02:29] hassankhan opened #39 "Use CloudFormation instead of the AWS-SDK"
Instead of making calls to API Gateway through the SDK, we could update the CloudFormation template directly as per [the documentation](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-apigateway-method.html#cfn-apigateway-method-methodresponses).

[2017-06-28 20:34] senthilkumarmuthu opened #40 "Pathparams are not displaying in the "parameters" section while doing export"
Below section is added under events method but it is not reflecting in the swagger yaml after export. Swagger validation is throwing error because it couldn't find path in parameters section.
pathParams:
              -
                name: 'Id'
                required: true

Fix:
It seems the pathParams are not added in documentation.js under function updateCfTemplateFromHttp function. It is wo

[2017-06-30 08:42] amansardana opened #41 "Cannot set property 'DependsOn' of undefined"
Hello,

I am trying to integrate your plugin in my project. I have followed the steps as stated in the documentation. but i am getting a type error whenever i try to deploy:
[code]

i have added the serverless-aws-documentation in under plugins in serverless.yml as follows:
[code]

custom variable:
[code]
and the function is as follows:

[code]
Please help me in resolving this issue.
Also it will

[2017-06-30 21:10] hassankhan commented on #41
I have a feeling this might be to do with the `serverless-plugin-split-stacks` plugin, have you tried disabling it and redeploying?

[2017-06-30 21:11] hassankhan commented on #40
+1, having the same issue

[2017-07-03 16:28] emkopp opened #43 "process to correlate multiple Models by reference other than HTTP reference"
Maybe i am missing it in documentation but is there a way to $ref other models into your model other than http to the model in API Gateway. Having the API_ID able to be interpolated into the models would be helpful or just doing some type of composition on the fly would work also.  Is this feature already there and i am just missing it?

[2017-07-03 23:03] KathyTian opened #44 "How to validate the model using this plugin?"
Hi I'm using this plugin and create a requestModel. Therefore, if my input doesn't follow the schema as I defined in my model, how could I validate it?

[2017-07-04 03:34] hassankhan commented on #39
I was clearly mistaken 😬 . Just to confirm, does this plugin first update the CF template then upload "documentation parts" to API Gateway?

[2017-07-04 20:36] tchock commented on #39
Yes it does. At the time I wrote this, CF couldn't do that because documentation just came out. I guess now CF might learned a few new tricks.

[2017-07-04 21:01] hassankhan commented on #39
I'm still not clear on whether adding via CF updates the documentation itself or whether documentation parts still need to be uploaded 😖 . Do you happen to know, @tchock?

[2017-07-04 21:13] tchock commented on #39
I'm sorry. I'm not sure whether CF now can upload the documentation parts. The plugin pushes everything with the AWS SDK provided by serverless. This means quite some requests if there are multiple parts.
From what I see in the CF documentation, Documentation parts are no CF resource, so it seems that it is currently not possible to do this only with CF.

[2017-07-04 21:16] tchock commented on #43
When I do understand you correctly, this would be the same feature request as this?
https://github.com/9cookies/serverless-aws-documentation/issues/21

Or am I mistaking you with this?

[2017-07-04 21:29] hassankhan commented on #39
Ahh thanks for confirming, the CF documentation for API Gateway seems to imply you can by uploading `MethodResponses` etc., so I mistakenly assumed that it would automatically create the documentation.

Thanks very much for replying 😄

[2017-07-05 07:45] amansardana commented on #41
@hassankhan Thanks for pointing it out.. the problem was with the `serverless-plugin-split-stacks` plugin. It is working fine after disabling it.

[2017-07-05 07:45] #41 closed

[2017-07-05 09:41] amansardana commented on #40
+1, facing the same issue.

[2017-07-05 16:18] pixelfuture commented on #40
+1, same exact issue

[2017-07-06 14:47] emkopp commented on #43
Yes i believe that they are the same.

[2017-07-07 07:54] tchock commented on #43
Ok, I will close this then in favour of #21

[2017-07-07 07:54] #43 closed

[2017-07-07 14:50] SamiSammour opened #45 "Example in response models"
Is there any way to add examples to the response models? I use these examples to show different errors that may occur under the same HTTP status.

[2017-07-08 10:35] tchock commented on #39
You're welcome. I will close this issue now :)

[2017-07-08 10:35] #39 closed

[2017-07-13 11:49] amansardana opened #46 "Can't set type of query paramaters"
Hi,
I am trying to set type of parameters that i am defining in query parameters as Integer. But the plugin doesn't set the provided type in documentation rather default type as 'String' is being set in the API Gateway.
I am trying to input documentation as follows:

[code]

[2017-07-26 10:50] kompiuter commented on #44
+1

[2017-07-30 14:51] #40 closed

[2017-07-30 14:54] tchock commented on #40
Thanks for @dperjar for fixing this :)
Is now available in version 0.7.1

[2017-07-30 15:21] #35 closed

[2017-07-30 15:25] tchock commented on #44
You need to validate it yourself inside the lambda.
There is a way to let API gateway handle this, but I guess then you can't use the lambda-proxy integration.

Hope this helps.

[2017-07-30 15:25] #44 closed

[2017-07-30 15:29] tchock commented on #38
I will close this in favour of #45.

[2017-07-30 15:29] #38 closed

[2017-07-30 15:32] tchock commented on #46
Seems to be the same issue as #36.
This was closed with #48.

If this is a different issue, please say so, and I will open this ticket again :)

[2017-07-30 17:46] sime commented on #44
There is a similar discussion on the serverless project, but it seems no one actually knows how to do it.

https://github.com/serverless/serverless/issues/3464

[2017-08-01 05:11] amansardana commented on #46
This is a different issue than #36 .
My issue is that i am not able to define the type of input that a query parameter accepts.
Sorry i provided the code without query parameters. Code i am using is the one below:

[code]

As you can see i provided the type of offset and sort queryParams as integer. But in documentation it is still set as string only.

[2017-08-03 09:18] tomsaleeba opened #49 "Plugin doesn't handle multiple HTTP events for a function"
Steps:
 - create a serverless.yml project with a function and two HTTP events:
[code]
 - deploy the project

Expected behaviour:
Both events are populated. Basically, the same behaviour as what happens if each were on a separate function.

Actual behaviour:
Only the first event is processed. It seems to be because of https://github.com/9cookies/serverless-aws-documentation/blob/master/src/document

[2017-08-03 19:21] SkippyZA commented on #21
Has there been any progress on this story? If nothing yet, I would love to get on this as it is going to be extremely useful for me :) Any thoughts/opinions on how best to approach this?

[2017-08-03 19:56] SkippyZA opened #51 "'tags' for functions"
Is it possible to implement `tags` in this documentation that gets exported in the swagger.yml when exported from API Gateway?

https://swagger.io/docs/specification/grouping-operations-with-tags/

[2017-08-03 19:57] SkippyZA commented on #45
This would be useful

[2017-08-07 06:37] tomsaleeba commented on #51
I've created a PR that adds this support: https://github.com/9cookies/serverless-aws-documentation/pull/52

It's something I've wanted for a while too but I've been post processing the swagger document to add the tags up until now.

[2017-08-07 06:40] SkippyZA commented on #51
great stuff @tomsalleba!

[2017-08-07 09:25] tomsaleeba commented on #51
I thought it would be great if we could get the tag descriptions in too: https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#tag-object and it turns out that my change added support for that too. Unfortunately, it added [too much support](https://youtu.be/eFAvOcuJyHY?t=1m43s) so any other the types could have tags, which isn't right. I've just pushed a commit that documents th

[2017-08-08 15:52] #51 closed

[2017-08-08 15:56] #49 closed

[2017-08-08 16:00] tchock commented on #46
Ok, reopened the issue

[2017-08-09 19:30] SkippyZA commented on #37
Would love to see this sorted soon too :)

[2017-08-24 13:06] gabrielkaputa opened #54 "method response models not showing up in some cases"
Hi,

I'm having trouble to get `methodResponses` working in some cases. Everything worked previously but now for some reason it is not.

here is a case in which everything works as expected, if i go to the api gateway console, i see the model in the method response
[code]

now in this second case, the model is empty and i'm unable to get it there
[code]

both models exist when i check it in the co

[2017-08-25 14:00] #37 closed

[2017-08-29 08:43] heikkihiltunen commented on #20
+1. Is there really no way of having models referencing each other currently? I hope this gets fixed soon, as I think it's a quite serious bug.

[2017-10-02 10:27] moea opened #57 "Doesn't appear to support parameter schema"
How would I express, e.g.

[code]

in queryParameters?

[2017-10-05 12:21] vilius-rugaitis commented on #21
Hello, I believe, that I have managed to use the APP_ID (`Ref: "ApiGatewayRestApi"`) dynamically. The following is working for me.
[code]

[2017-10-06 16:29] mjmac commented on #21
For what it's worth, I'm testing an implementation of this idea here: https://github.com/mjmac/serverless-aws-documentation/tree/modelrefs

Feedback welcome. I'll clean it up a bit more and submit a PR later.

[2017-10-10 14:32] mjmac commented on #21
PR: https://github.com/9cookies/serverless-aws-documentation/pull/58

[2017-10-12 08:11] #21 closed

[2017-10-12 08:15] tchock commented on #20
Was implemented by #58
I will publish it in 1.0 when the rest of the issues for this are ready :)

[2017-10-12 08:15] #20 closed

[2017-10-12 08:24] tchock commented on #34
Cloudformation now supports documentation parts, so using the SDK is no longer needed. I will update this soon, so rate limiting is no problem any more.
This should also increase speed.

[2017-10-25 16:26] rsshilli commented on #35
This is a bug with booleans too.

[2017-10-25 17:58] tchock commented on #35
@rsshilli ok, I will keep this in mind. Can you create a new issue for this, please?

[2017-10-26 17:52] Mugi4ok opened #60 "Comments before array description lead to object missing in `serverless-state.json`"
First of all, I'm not exactly sure if this is plugin's issue or Serverless' one (or even YAML, although I haven't found articles mentioning this issue and looking at the specification doesn't give me any hints that this is not a valid case, making such comments before array description).

So, when I was describing my models in `custom.documentation` section I made a comment (`# Requests`), like th

[2017-10-27 05:14] darkbcx opened #61 "default value in parameters?"
is there any way to add default value in **requestHeaders** and/or **queryParams**?

[2017-11-01 20:42] rsshilli commented on #35
Hmm...  Actually, on second thought I'm wrong.  We're not using this plugin anymore.  My bad.

[2017-11-09 00:02] bwship opened #62 "Unresolved resource dependencies [ApiGatewayRestApi] in the Outputs block of the template"
I have added the serverless-aws-documentation and have set the most basic setup to add documentation in the serverless.yml

custom:
  documentation:
    api:
      info:
        version: '1'

But, when I try to deploy, I get this message.

Error --------------------------------------------------

  The CloudFormation template is invalid: Unresolved resource dependencies [ApiGatewayRestApi] in the

[2017-11-09 22:17] rafat-accedo opened #63 "If you reference a model A in another B, both will print with the name A in the html"
Target version: 1.0.0

The spec.json file appears to be correct. The html output is wrong.

### Repro Steps
A.yml:
[code]

B.yml:
[code]

models:
[code]

[2017-11-13 23:53] jeffbarneslegit commented on #62
I have the same issue, and its due to a specific plugin we use to split our stack up so we can get past the '150 resources' limit with serverless.  'serverless-plugin-split-stacks' confuses the reference to [ApiGatewayRestApi] since it technically lives in another stack before the CF template is merge back together.

[2017-11-25 03:30] rafat-accedo commented on #63
This is SwaggerUI issue. Closing.

[2017-11-25 03:30] #63 closed

[2017-12-05 22:15] cdichiara commented on #62
Yeah, ran into this, too.

It looks like these lines:
https://github.com/9cookies/serverless-aws-documentation/blob/d9835f88f44f3f19d933f0f5a837a9d32732bde5/src/index.js#L52-L57
Are adding a reference to ApiGatewayRestApi ... but when you have `serverless-plugin-split-stacks` active, it has to be:

[code]
Not sure the best way to tackle this ... I think the solution may be over here, but not sure.

[2018-01-05 21:23] tkbrady commented on #45
Agreed - this would be very useful!

[2018-01-19 12:10] davidgf opened #66 "Deploy documentation command"
Sometimes you could simply need updating the docs. With the current implementation, updating the docs means deploying the whole service. It would be handy having a command for simply deploying the docs, which would reduce risk and time

[2018-01-30 00:53] baghbidi opened #68 "Description for OPTIONS requests"
Was wondering if there is a way to disable descriptions on OPTIONS requests for CORS enabled endpoints.

[2018-01-30 08:34] sime commented on #68
No, least the last time I looked at it, it was completely handled on AWS side, with no switches to turn it off.

[2018-02-06 16:17] sujameslin commented on #62
Is there any update with this issue?

[2018-02-06 19:01] dougmoscrop commented on #62
I don't see why this plugin needs to run during the `deploy` phase. If it ran during package instead, my plugin (split stacks) will migrate the reference to the ApiGatewayRestApi.

[2018-02-08 09:45] pj035 opened #70 "HTTP OPTIONS are always grouped in default tag"
Hey guys it seems that the plugin does not set the tags for the CORS paths.

In the example, which is included in this repo, two tags are defined and two functions. The generated swagger file by the APIG does not include the tags field for the cors paths. In the picture you can see that the `OPTIONS` methods are grouped by the `default` tag.

Is there any way to set the tags to the associated func

[2018-02-27 15:18] walshe opened #71 "not applying validation to request - missing something ?"
Although I can see my request model in the api gateway console, it does not seem to apply any validation... am I missing something ?  i just want to use the default validation response

[code]

[2018-02-28 12:24] pj035 opened #72 "Deployment fails while using shared API Gateway"
I have two serverless services. On that defines the API Gateway and another one that is using that API Gateway. I've set everything up like in the [serverless docs](https://serverless.com/framework/docs/providers/aws/events/apigateway/#share-api-gateway-and-api-resources).

Stack1: serverless.yaml (this one defines the API Gateway)
[code]

Stack2: (this one uses the existing API Gateway)
[code]

W

[2018-02-28 17:23] #62 closed

[2018-02-28 17:41] tchock commented on #61
@darkbcx This plugin just passes the swagger config parts to AWS. So it can do everything that swagger can.
See:
https://swagger.io/blog/unlocking-the-spec-the-default-keyword/

Does that help?
If not, please tell me and I will open this issue again.

[2018-02-28 17:41] #61 closed

[2018-02-28 17:42] tchock commented on #71
I never used the plugin in that use case. Anyone else has experience with AWS Gateway handling validation?

[2018-02-28 17:43] #68 closed

[2018-02-28 17:46] tchock commented on #60
@Mugi4ok This seems like a serverless issue. Serverless is passing JavaScript options to this plugin.
Parsed is definitely done on the serverless side.

[2018-02-28 17:46] #60 closed

[2018-02-28 17:54] tchock commented on #72
The reason for this is, that the plugin is referencing the API Gateway in the CloudFormation template, that serverless creates.
When it is not there, it does not work.

I don't know if there is a way to add a fake resource in CloudFormation that just references to an existing resource.

Otherwise this plugin would need a way to reference a custom gateway ID in the models.

[2018-02-28 18:05] walshe commented on #71
@tchock I figured it out. You need another plugin to actually apply the validation [](https://github.com/RafPe/serverless-reqvalidator-plugin)

[2018-02-28 19:27] #71 closed

[2018-03-01 08:13] pj035 commented on #72
Is there any way how I can help? I'm not that familiar with the CloudFormation Template, but if someone gives me a good hint where to start I can dig into it?!

So far I've seen that the plugin sets an output before the deployment [here](https://github.com/9cookies/serverless-aws-documentation/blob/master/src/index.js#L52). I've tried to set the custom id like this:
[code]
Which sets the correct i

[2018-03-01 08:51] tchock commented on #72
This is just for the output. Outputs are just for printing it out at the end and for outside services to read these values.

When you look here:
https://github.com/9cookies/serverless-aws-documentation/blob/master/src/models.js#L47

There is a ref that references the API Gateway. What you need to do is, that at every place you need to first check for `this.serverless.service.provider.apiGateway`,

[2018-03-01 09:32] pj035 commented on #72
Ah thanks. For a quick test I just replaced all occurences of `{Ref: 'ApiGatewayRestApi',}` with the actual id and it deploys properly. :-)

[2018-03-01 15:01] jagdish-176 opened #73 "Any example to use with /{proxy+}"
I'm using /{proxy+} for all endpoints,

[code]

How to put documentation for` /test/:testId`  in this

[2018-03-01 15:44] pj035 opened #74 "Can't use Models defined as CloudFormation Output of different Stack"
I have the following setup:

* multiple stacks with shared API Gateway (see [serverless docs]())
* stack 1 defines a specific model and exports it (see [serverless docs]())
* stack 2 should make us of the model via `Fn::ImportValue`

The deployment of stack 2 fails because of `Template format error: Unresolved resource dependencies [[object Object], [object Object]Model] in the Resources block of

[2018-03-01 18:56] tchock commented on #74
The dependency is definitely needed, otherwise cloudfront won't build stuff in the right order.
There needs to be special handling for your case. If the model is an object, don't add them to the dependencies.

Also a good first issue to work on :)

[2018-03-01 19:46] pj035 commented on #74
Of course the dependency is required. Maybe I did not express myself correctly. In my case the resource already exists, because it has been created by a different stack. Therefore that certain object should not be added to the dependencies.

I don't know if every object should be omitted or if different kind of objects (i.e. a different key than `Fn::ImportValue`) have to be handled differently?!

[2018-03-13 13:10] tommy5dollar opened #75 "Reverting to previously used documentation returns wrong documentation"
Hey,

I'm having an issue where if you change your documentation from an initial state to a new state and then back to the initial state then the documentation parts on the API Gateway (and the Swagger) will be from the new state, not the initial state, despite the initial state being the current documentation.

You should be able to recreate this issue by making any simple change, even one as sim

[2018-04-04 02:38] malikadit opened #77 "not working when trying to use existing API gateway"
Hi,
I am trying to reuse an API gateway created in another serverless file.
When I reuse the api created I get

  Serverless Error ---------------------------------------

  Invalid stage identifier specified

  Stack Trace --------------------------------------------

ServerlessError: Invalid stage identifier specified
    at BbPromise.fromCallback.catch.err (/usr/local/lib/node_modules/serverles

[2018-04-04 07:08] dspasojevic commented on #77
Sorry, I didn't see #72 - I think that is the issue I am experiencing.

[2018-04-04 07:15] dspasojevic commented on #72
@tchock is this still an issue that needs help? Happy to work if so.

[2018-04-04 07:37] tchock commented on #72
@dspasojevic Yes, this still needs help

[2018-04-04 14:57] malikadit commented on #72
Seems like #77 is duplicate.

We also need help any idea what is going on or anybody working on this issue.

[2018-04-04 15:25] tchock commented on #77
Ok, I will just close this. In case it is something different, just tell and I will open it again :)

[2018-04-04 15:25] #77 closed

[2018-04-04 15:27] tchock commented on #72
I wrote something earlier on this issue:

https://github.com/9cookies/serverless-aws-documentation/issues/72#issuecomment-369519867
I think this is some way to solve it, but I haven't tried it out.

[2018-04-04 15:50] tchock commented on #72
Thanks @dspasojevic for taking care of this! :)
I will look into another PR later and make a new release including this.

[2018-04-04 15:50] #72 closed

[2018-04-11 17:32] JmeG opened #79 "Example serverless.yml file out of date"
https://github.com/9cookies/serverless-aws-documentation/blob/1c68e0d6a25ff935e522b8f51062f6fd066cd3a0/example/serverless.yml#L23

This serverless.yml sample appears to be incorrect. It suggests using custom : documentation : api : info  instead of custom : documentation : info

custom:
  documentation:
    api:
      info:
        version: '2'
        title: Example API

[2018-04-23 15:44] jhaagmans opened #84 "Documentation does not propagate `info`"
The documentation clearly states that the `version` and `title` parameters of the `info` block are not propagated to the output Swagger file. However, I noticed that I can't get _any_ of the block to be propagated. This is an example serverless.yml:

`service: test

provider:
  name: aws
  runtime: nodejs6.10
  stage: ${opt:stage, 'development'}
  region: eu-west-1
  profile: ${self:provider.stage

[2018-05-01 20:51] icj217 commented on #84
I'm seeing the same thing. `custom.documentation.info.description` is not showing up, which is quite annoying.

[2018-05-03 16:43] azakordonets commented on #61
I have a question. in order to use "Try it now" option in swagger ui, I would like to provide default values for parameters in queries, so people could just hit the button and get some response already + other users of API would also know how parameters should look like. I was able to specify manually `x-example` option for the parameter in order to see that on UI , but i couldn't find a way how t

[2018-05-04 08:11] tchock commented on #61
@azakordonets
I just tried it in https://editor.swagger.io/

https://swagger.io/docs/specification/adding-examples/
With this I was able to pre fill the fields when pressing "try it now".

Hope that helps you.

[2018-05-04 09:01] azakordonets commented on #61
Yes, in swagger editor it works for me as well :) The question is that when i add `default` or `x-example` field to pathParam in some `put` method for example, then when i deploy my serverless app and download documentation, then this field is not present in swagger. So basically somewhere during deploy of serverless service this key is not getting populated in swagger documentation

[2018-05-04 10:47] azakordonets commented on #61
@tchock nope, `example` field doesn't work either.

[2018-05-07 06:08] senthilkumarmuthu commented on #34
Is this resolved? Still seeing this error in v1.1.0.

[2018-05-07 07:42] tchock commented on #34
Unfortunately, this is not resolved. There is a roadblock for this because of the limit of CloudFormation resources that will explode with this change.

[2018-05-17 13:13] azakordonets opened #85 "Specifying operationId for endpoint in documentation"
How, i was trying to add `operationId` to each endpoint in order to have a better api of swagger generated clients , but it looks like that it doesn't appear in API Gateway documentation. Any idea on how i could do that ?

[2018-05-24 17:14] shawngrona commented on #70
yes, this is a problem, especially if you try and export swagger from api gateway.  in the case where you have path params, swagger will give errors "Declared path parameter "[parametername]" needs to be defined within every operation in the path (missing in "options"), or moved to the path-level parameters object"

how does one define path? or for that matter options if you're using lambda proxy?

[2018-05-24 17:31] shawngrona opened #86 "Options"
if you try and export swagger from api gateway, in the case where you have path params, swagger will give errors "Declared path parameter "[parametername]" needs to be defined within every operation in the path (missing in "options"), or moved to the path-level parameters object"

how does one define path level object in documentation with this plugin? or for that matter options documentation if y

[2018-05-24 17:33] sime commented on #86
@shawngrona Can't say I can help, though I am interested how your serverless.yml is defined. i.e. with an example of path pararms.

[2018-05-24 17:36] shawngrona commented on #86
does serverless documentation support path level parameters? https://swagger.io/docs/specification/describing-parameters/#common-parameters-16

[2018-05-24 17:38] shawngrona commented on #86
here is example of serverless.yml:
[code]

[2018-05-24 17:39] shawngrona commented on #86
heres what you get from api gateway swagger export on the same:
[code]

note how the options are missing the path parameter?  if you put this into a swagger editor then it barks about the path parameters missing in options methods

[2018-05-24 17:50] shawngrona commented on #86
or is there some way to exclude options when exporting a swagger document?  its really not necessary for us in the scope of providing documentation to our app developers

[2018-06-04 11:42] msimperi opened #87 "Map description from model to AWS::ApiGateway::Model resource created"
Noticed that description field from model was not mapped at the moment to AWS Model-resource. I don't know if it is on purpose like this.

[code]

[2018-06-04 20:55] kevboutin opened #89 "Feature request: Add restApiId as a parameter just like the AWS CLI does."
Example:
`serverless downloadDocumentation --outputFileName=docs.txt --restApiId uul9j3wly9`

This prevents the need of having the serverless.yml specifying the restApiId explicitly.
Example:
[code]

[2018-06-12 15:36] xeonarno opened #90 "Add extensions='postman' to serverless command"
the main idea is to get the postman extension from gateway !
the aws cli request is like :
aws apigateway get-export --parameters extensions='postman' --rest-api-id xxxxxxxxx --stage-name dev --export-type swagger /path/to/filename.json

[2018-07-05 06:13] hmshoaib opened #91 "methodResponses is giving error"
I am trying to use methodResponses to attach the model to one response below is my code for serverless.yml
`getAllAccounts:
  handler: accounts/Accounts.getAllAccounts
  events:
   - http:
      path: admin/accounts
      method: get
      cors: true
      integration: lambda
      methodResponses:
        - StatusCode: 201
          ResponseModels:
            "application/json": "AccountModel"`

[2018-07-09 08:01] MalusDarkb opened #92 "Event documentation does not work"
the serverless-aws-documentation doesn't seem to work for me. I declared in the serverless.yml file  plugins:
  - serverless-aws-documentation

and I used parts of the examplecode in order to get documentation for events. After deploying no documentation is to be found under e.g. the requestBody. What am I missing here?

functions:
  group:
    handler: src/groups.handler
    events:
      - http:

[2018-07-12 02:21] XertroV commented on #92
I had a similar issue that was due to bad nesting of `models` within `documentation.api`

e.g. I had

[code]

when it should be

[code]

Also, @MalusDarkb, you should really format your posts correctly if you'd like people to help you. In this case it's impossible to tell if you had the same issue because you were lazy when posting.

[2018-07-17 06:28] sshadmand opened #93 "How do you ignore functions that you don't want exported to swagger file?"
When I run this plugin I get all the function in my serverless.yaml, but there are some function there I don't want to be exported to my Swagger docs. Is there a way to flag a function so that it is skipped by the export?

Thanks!!

[2018-07-17 07:21] sshadmand commented on #93
Another example where an ignore would help, is the auto-generated "options" verb, that I don't need/want in my docs:

<img width="1301" alt="screen shot 2018-07-17 at 12 20 04 am" src="https://user-images.githubusercontent.com/68735/42802291-582bbd76-8957-11e8-8d1b-3a8b751b6425.png">

[2018-07-18 03:39] pig800509 opened #95 "Auto sort parameters array"
I don't want to sort parameters by name, I want to set parameters sorting that are defined in serverless.yml, what should I do?

`"parameters": [{
                    "name": "chart",
                    "in": "query",
                    "description": "chart.",
                    "required": false,
                    "type": "string"
                }, {
                    "name": "tId",

[2018-07-18 03:46] pig800509 commented on #93
@sshadmand  #86

[2018-07-18 03:48] pig800509 commented on #70
@pj035  #86

[2018-07-18 03:51] pig800509 commented on #46
@tchock you should use

[code]

[2018-07-18 06:20] pig800509 commented on #57
+1

[2018-07-18 17:54] traviskeenan commented on #90
I was looking for the same thing and had not looked at issues before doing this PR.

https://github.com/deliveryhero/serverless-aws-documentation/pull/96

[2018-07-19 07:00] piersmacdonald opened #97 "endpoints with empty response bodies"
Right now I can't document an event as having an empty response body (e.g. for a 204)

Simply having

[code]

fails on deployment.

I worked around it with a placeholder empty response but it would be great to have proper support for empty response bodies

[2018-07-19 22:07] thekarel opened #98 "Move function documentation under custom.documentation?"
Is it possible - or was it considered - to allow function specific documentation to be defined under the

[code]

key? It would allow one to extract the complete API spec into a separate `api-spec.yml` or `.js` file and pull it into the main `serverless.yml` (or `.js`) in one go.

Is there a technical reason/design decision  why this would not be possible?

[2018-07-19 22:14] thekarel commented on #98
Seems like a solution is already in PR: https://github.com/deliveryhero/serverless-aws-documentation/pull/76

[2018-07-19 22:14] #98 closed

[2018-07-20 00:51] xeonarno commented on #90
Magnifique ! Well done ! just need to change the doc :) I will PR it

[2018-07-20 00:51] #90 closed

[2018-07-20 08:44] MalusDarkb commented on #92
@XertroV

Thanks for the answer. I will check out how I can format it accordingly.

[2018-07-31 20:43] billmcknight1953 opened #99 "CloudFormation template is invalid"
I've added the serverless-aws-documenation elements to my serverless.yml, following the examples closely, yet I get the following error when the cloud-formation template is being validated.  Where should I look to find what is causing this issue?

serverless-aws-documentation version = 1.1.0
serverless version 1.28.0
serverless file:

[code]

[2018-08-01 14:42] #99 closed

[2018-09-12 02:47] icj217 opened #101 "Using serverless ${file()} variable not supported"
We are populating our custom section of our `serverless.yml` by referencing a separate file like so:

[code]

This results in the documentation not being recognized because the `this.customVars` value in index.js is already set and contains the literal variable reference, rather than the resolved contents of the file.

We confirmed this by editing index.js's beforeDeploy() function like so:
[code]

[2018-09-19 14:17] alfonmga commented on #46
Seems type validation isn't working for queryParams yet. Is this possible to be implemented? would be great.

[2018-09-19 20:49] #101 closed

[2018-09-20 21:03] Antherkiv opened #103 "Send velocity template"
Hello folks I trying to figure out how to send a velocity template in the response method, I trying doing like so:

[code]
Where error_template.vm it's the example in the aws documentation to rewrite the response status code:

[code]

But I get an error at validation:

[code]

How can accomplished?

Thanks.

[2018-09-24 07:13] AndrewFarley commented on #74
+1 any update on this?  Can not use this plugin with multi-stacks currently unless someone has a clever workaround.

[2018-09-28 09:47] juvaly commented on #99
@billmcknight1953 did you close because you found a resolution? if so, can you share?

[2018-10-01 22:00] billmcknight1953 commented on #99
I did modify my serverless.yml file in ways that allowed it to work.  The first change I made was to simplify the documentation section in the custom section. I may not have needed to do this, but  I removed everything up to models, so that the serverless file section under custom became.

[code]

. . .
But the real problem was the fact that the documentation section under each API function has to

[2018-10-09 21:04] kennu commented on #84
I tried to fix this by creating a DocumentationPart resource with Type API, but I ran into these problems in CloudFormation:

https://forums.aws.amazon.com/thread.jspa?messageID=871765

[2018-10-15 11:12] trantien489 opened #105 "ERROR "Missing required key 'restApiId' in params""
Hi Authors,

I face the issue when try to run command "serverless downloadDocumentation --outputFileName=filename.ext".
This error is "Missing required key 'restApiId' in params".
I created a API key in AWS API Gateway and add the API key to command --restApiId , but still not pass the issue.

My environment:
 + Serverless : 1.32.0
 + Serverless-aws-documentation : 1.1.0

I have researched but I h

[2018-11-07 23:52] jonlazz commented on #105
Hey I just ran into this same issue and it turns out the running the `serverless deploy` prior to running `serverless downloadDocumentation --outputFileName=filename.ext` makes the error go away. I'm guessing the documentation plugin is getting some context from the resources generated during a deploy.

Let me know if that helps.

[2018-11-08 03:03] trantien489 commented on #105
Thanks for your comment.
I found the key in AWS API Gateway console, and use AWS CLI to download the Swagger template.

[2018-11-27 19:57] kamzil commented on #75
I also ran into this issue when preparing to use this plugin in our project. If I at some point make changes to the documentation, I can never use the old version through this plugin, even if I make many changes in between. It just says "documentation version already exists, skipping upload".

@tommy5dollar did you find a workaround for this?

[2018-11-28 16:37] tommy5dollar commented on #75
@kamzil I honestly can't remember, to be honest.

We're no longer using the documentation plugin as we've moved to GraphQL

[2018-11-30 14:03] ilya-vialinski opened #106 "ApiGateway documentation overwrite"
Hello,
I am faced with the problem of overwriting documentation. I have several serverless.yml files which used to create different Api Gateway resources and corresponding Lambdas. When I deploy them one by one, only documentation from the last serverless.yml stays in place. However, I see all models from all .yml files.
Could you please help?

[2018-12-30 13:04] agostnello opened #107 "Does this plugin support example values ?"
Does this plugin support example values ?
https://swagger.io/docs/specification/adding-examples/

[2019-01-08 23:15] madzim commented on #75
@kamzil I figured it out.

You need to update custom.documentation.version to a unique value. It can't be a value that is already in the Stages | Document History tab.

The new version is automatically published and you'll see the changes the next time you export the API.

[2019-01-10 23:52] NoxHarmonium commented on #107
Unless I'm mistaken, this plugin specifies the schema in the format required for AWS API Gateway, which uses JSON schema rather than Swagger (although they do look similar). JSON schemas don't seem to have support for examples so I don't think you would be able specify them in this plugin.

See: https://json-schema.org/specification.html

[2019-02-04 11:51] chris86brown commented on #106
I seem to be facing the same issue and would love a solution if anyone has one?

[2019-02-19 03:56] strepto42 commented on #86
Be nice to get this one fixed... Meanwhile thank you for the snippet above

[2019-02-21 09:50] daoudsh commented on #106
It would be nice if this issue is fixed because I am also facing same issue.
has anyone find a work around for this issue?

[2019-02-21 10:17] daoudsh commented on #74
any update on this issue, or workaround !

[2019-02-21 10:52] tchock commented on #74
Currently not. We also don't have that much time to investigate this. So if someone finds something, it would be really cool that they could fix it and make a PR to this project :)

[2019-03-02 21:31] jeppeklausen opened #109 "Support for multiple responseModels"
We have a strong need for supporting multiple responseModels according to Open API 3.0.
Is that in the roadmap to support or is there a workaround to handle that already?

[2019-03-12 11:00] ikneg opened #110 "Cannot read property 'documentation' of undefined"
# Summary

When I do `sls deploy`, `Cannot read property 'documentation' of undefined` was occurred every time. I wrote How to reproduce below.  Is the usage of this plug-in wrong?

# How to reproduce
[code]

# Environment
serverless ver: 1.38.0
OS ver: Mac OS  Mojave 10.14.3 and CentOS Linux release 7.6.1810 (Core)

[2019-03-18 07:42] jormal commented on #84
Same here to me. All of parameter in `custom.documentation.info` is ignored. What can I do?

[2019-03-18 10:21] jhaagmans commented on #84
@jormal You should probably drop this plugin as it's no longer maintained. See #83 for the fix.

[2019-03-18 13:27] kennu commented on #84
@jhaagmans Any suggestions for alternatives?

[2019-03-18 18:41] jormal commented on #84
@jhaagmans Thx. If you have any alternatives, plz notify to me.

[2019-03-18 19:11] jhaagmans commented on #84
Wow, I messed up. I've used 2 similar plugins, the other one is temando/serverless-openapi-documentation for which my previous comment was relevant. This plugin is obviously not dead and unmaintained (unlike the other one), the problem mentioned here is not fixed though, but I'm not sure whether this is just a shortcoming in the API Gateway API or a bug in this plugin. I'm so sorry for the confusi

[2019-03-20 03:51] jormal commented on #84
Thank you so much!

[2019-03-28 20:05] limaneto opened #111 "No Custom Resource"
If I use queryParams documentation field at the function event and do not declare anything in the custom field, the queryParams is not applied in the API Gateway, can someone help?

[2019-04-05 07:28] fanadol commented on #110
i also got this error, any solution for this?

[2019-04-05 20:31] sime commented on #110
You need to set a variable in the in the `custom` section of `serverless.yml` called `documentation`. As per the documentation.

[2019-04-05 20:31] #110 closed

[2019-04-17 11:28] YpsiBe opened #112 "Update of npm package"
Hello,
I am using your plugin (that works great by the way !), however the npm package is not up to date with the git version. Indeed, the version on npm does not support te $file() syntax and the latest swagger changes you made.

I downloaded the zip file and use it like this, but everytime I add a new package with npm the  serverlesss-aws-documentation package reverts back to the version of npm,

[2019-04-17 19:39] lsanders opened #113 "Is it possible to define response models without defining the model globally?"
I'd rather my response-specific models didn't show up as common models, unless they really are shared across api calls. In the function specific yml we can define content-type to models mappings, but I have to include the model in

[code]

Is this a limitation of cloudfront or am I missing something?

Thanks

[2019-04-25 12:42] GurpreetSingh5 opened #114 "default: maximum: "100""

[2019-05-13 14:02] erwineverts opened #115 "Use the cloudformation documentation part as a substack"
See https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-apigateway-documentationpart.html

[2019-05-15 20:52] djakaitis opened #116 "Documentation should specify to only utilize JSON Schema v 4"
Currently API Gateway supports version 4 of the JSON schema spec. (see here:(https://docs.aws.amazon.com/apigateway/latest/developerguide/models-mappings.html).

Nothing in the current documentation explains this. As a result fields such as `$id` and `examples` are considered invalid on serverless deployment.

[2019-05-20 23:36] jonathanalberghini commented on #116
What is or where is the documentation on submittedItems. I cannot find this anywhere?

[2019-06-06 14:22] a1anw2 commented on #73
I was wondering the exact same thing.  It is common not to deploy a single endpoint per Lambda, but instead to deploy a group of endpoints to a single Lambda using ExpressJS to do the internal routing.  The big advantage of this of course, is that it reduces the CloudFormation resource limit.

[2019-06-16 07:11] GurpreetSingh5 commented on #114
Any update on this ?

[2019-07-12 00:03] AYM1607 commented on #115
Do you have more insight on this? I'd like to work on it.

[2019-07-23 05:16] jayai2014 opened #118 "required field doesn't work"
For `pathParams`, `required` field doesn't seem to work.
My example:
[code]
I explicitly set `required: false`, however after I deployed the APIs, I did an export and these fields are marked as `required` `true` in the exported API documentation. Like below
[code]

Also, AWS doesn't seem to give me any information on whether a parameter is required or not.
![image](https://user-images.githubuserco

[2019-08-12 23:37] halprin commented on #84
The documentation is incorrect.  One needs to insert an extra `api` level between `documentation` and `info`.  See https://github.com/deliveryhero/serverless-aws-documentation/blob/master/example/serverless.yml#L23

So, for the example in the author's code snippet should change to...
[code]

[2019-08-13 09:59] mateen-hussain commented on #72
Has anybody figured out how to solve this

[2019-08-14 10:12] jormal commented on #84
@halprin Thanks!!!

[2019-08-19 20:19] YurgenUA commented on #106
Link to my pull request with fix
https://github.com/deliveryhero/serverless-aws-documentation/pull/121

[2019-08-21 17:52] ncipollina opened #122 "Form Data"
This doesn't appear to support form data. Is there a way for me to specify form data?

[2019-09-12 16:19] lepirlouit opened #123 "mark requestModels as not required"
By default requestModels are marked as required:true

I didn't find how to mark them as required false

the exepected résult is :
[code]

[2019-09-28 17:16] GurpreetSingh5 commented on #114
Any updates for this yet?

[2019-09-28 21:59] jonathanalberghini opened #124 "Specify model as file"
Can you do this?
Example
   requestModels:
              -
                "application/json": ${file(./schema/login_request.json)}

[2019-10-03 21:38] JulienLajugie commented on #85
Any news on this issue? I am having the exact same problem

[2019-10-18 08:09] joextodd commented on #105
I had this error as well. I think it disappeared when I cleaned my node_modules and did a fresh install.

[2019-10-22 17:38] lucas-rudd opened #126 "Using Models and Documentation in one file"
We're using a tool called [tsoa](https://github.com/lukeautry/tsoa) to generate our swagger documentation using annotations and TypeScript interfaces.

It's a pretty nifty tool, but has some major disadvantages when using this plugin.

In particular, `tsoa` generates a single file which contains both models and documentation. Because of this, the following does not work

[code]
Does not work, sinc

[2019-11-12 23:16] lucas-rudd opened #140 "Support in-line response model"
Perhaps this is a limitation of AWS API Gateway.

But, I've noticed when doing the following, that I get a CloudFormation template validation error

[code]

I get the following error

This is due to this line in models.js
[code]

I'm curious as to if the inline response model is an object that we could simply skip adding anything to the `resource.DependsOn` set.
As there is no external model to de

[2019-11-13 00:17] lucas-rudd commented on #140
So, I've tested this myself, and it appears as though this is a limitation of API Gateway

When running `sls package`, my method response looked like this
[code]

And I got the following error in the CloudFormation stack

[2019-12-16 08:49] baileytincher opened #143 "Offline Documentation Generation"
Hello,
I have been scrolling through the issues and have (surprisingly) not found this addressed. Is there no means to generate the documentation without deployment? Understandable if not/there are limitations, but it would be significantly more convenient.

[2019-12-16 14:24] clar-cmp opened #144 "Warn when `custom.documentation` does not exist"
Right now, if the `custom.documentation` key doesn't exist and you try to call `downloadDocumentation`, or if you try to call `downloadDocumentation` without deploying first, it gives a rather cryptic error. It would be nice to warn if you try to call `downloadDocumentation` and this key does not exist, or if the output doesn't exist on the CFN stack (which indicates no deploy was done with the do

[2020-01-08 14:05] OAFCROB commented on #107
Examples are new in draft 6 of the JSON schema, see https://json-schema.org/understanding-json-schema/reference/generic.html#annotations

[2020-01-09 22:50] lsanders opened #145 "markdown in description?"
Long shot, but has anyone done this?

[2020-01-10 21:19] lsanders commented on #145
My coworker figured this out - turns out to be pretty straight forward!

In case anyone stumbles on this issue:

Just put your markdown in a separate yml file that starts with a pipe (|) newline:

[code]

in serverless.yml
[code]

[2020-01-10 21:19] #145 closed

[2020-01-26 14:02] GoGoris commented on #105
For me cleaning `node_modules` and running `serverless deploy` did not fix the issue. I don't know where this restApiId should be set?

[2020-01-29 07:59] svdgraaf commented on #105
Yeah, just discovered that this is still an issue as well

[2020-01-29 08:01] svdgraaf commented on #105
I see that the problem arises from `downloadDocumentation.js`:
[code]

This will return undefined, and it will fail from there. I'll do my best to see if I can create a PR for this.

[2020-01-29 08:05] svdgraaf commented on #105
I see it's trying to fetch a custom stack output `AwsDocApiId`, which is set by itself. I'm guessing that I'm missing that value in my stack outputs, as it's not currently present in my target branch.

[2020-02-20 17:49] pflugs30 commented on #105
In my case, I think I ran into the error because we have an entire Serverless project just for creating the API Gateway itself, and it includes none of the Lambda functions (for various reasons).  that's why (I think) the `downloadDocumentation` command didn't work.

In the end, it didn't matter as I simply needed to download the `swagger.json` file.  I went the same route as @trantien489 above an

[2020-03-21 07:32] mcrobbj commented on #107
Does seem to be an issue, I get an error when I try to include

[2020-03-21 07:34] mcrobbj commented on #45
gets my vote too

[2020-03-26 21:44] chemalopezp commented on #107
Came up with the same question, it seems API Gateway doesn't accept `example` tags
https://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-known-issues.html

[2020-03-26 21:50] chemalopezp commented on #143
+1
While I'm still concern 100% offline might not be feasible... is there a way to quickly upload just the API Gateway resources? This way we can generate quickly the documentation (even if it is online, the whole `sls deploy` process can take up to 10 minutes). Looking forward for a way to quickly generating the docs (particularly verifying it is correct)

[2020-04-10 17:34] QuanWan89 opened #147 "Recursive array within model schema"
Hi,
I am trying to use this plugin with response having recursive array within model schema.

I tried something like this:
- name: child
  contentType: "application/json"
  schema:
    type: object
    properties:
      id:
        type: number
      child:
        type: array
        items:
          $ref: "{{model:child}}"

I get such error:
Error: The CloudFormation template is invalid: Circula

[2020-05-01 05:09] bmpickford opened #148 "Add support for deprecated flag"
Swagger supports the deprecated flag on paths, see https://swagger.io/docs/specification/paths-and-operations/. Would be good to be able to have this carry over in the AWS documentation.

This would look something like:
[code]

[2020-05-26 09:41] gcampionpae commented on #74
+1 from me as well.  I might be able to try and see if I can work on a fix soon.

[2020-06-11 20:10] research-scife commented on #86
Is this being worked on ?

[2020-06-11 20:13] research-scife opened #149 "Integration with AWS Serverless Developer Portal"
We are using [AWS serverless Developer Portal](https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-developer-portal.html) to internally host our documentation for our developers. Right now after deployment I need to manully login as admin there and update the api gateway application then the new deployment work. I want to connect this with out cicd. Any suggestion ?

[2020-07-01 12:09] reilg commented on #143
This surprised me as well. Has anyone found a workaround at least?

[2020-07-09 17:18] shevchenkobn opened #150 "No Method Response integration, v1.0"
Whenever I am trying to deploy my `serverless.yml`, I don't see the method responses in my AWS Console:

![image](https://user-images.githubusercontent.com/24490491/87068946-07de3800-c21f-11ea-8d6c-6de4e6abcc47.png)

# Environment
[code]

# `package.json`

[code]

# `serverless.yml`

[code]
# My investigation
I have looked for the usage of `methodResponses` property within the source code and trie

[2020-07-13 13:22] paulalex commented on #150
I just got this working, some excerpts from my yaml:

[code]

If there is anything else I can inform you of that might help please let me know.

[2020-07-14 10:15] Mayhem93 opened #151 "Resource with same path, but different http method"
Hello,

I've been using this plugin for quite some time but never had an endpoint with the same path but different method.

Looks like this plugin doesn't like having a different http method because no matter how much I tell it that these two resources are using different method, it just ignores it.

[code]

As seen in this log the first and the last ones use the same path, but they should have di

[2020-07-23 08:30] AgnivDass opened #154 "serverless-aws-documentation plugin not working"
Hi,

I have installed the plugin and then deployed my serverless project.

After that I have executed the `serverless downloadDocumentation --outputFile=filename.ext` command to download the documentation.
This gives an error :

`Serverless command "downloadDocumentation" not found. Did you mean "tabcompletion"? Run "serverless help" for a list of all available commands.`

I also checked the docum

[2020-07-29 15:18] benjefferies commented on #154
Have you ran `npm serverless-aws-documentation `

[2020-07-30 15:23] sahandseifi opened #155 "Model dependency causing failed deployments"
Imagine Mode2 references Model1 using the $ref keyword, and both models are defined in the models section of the serverless.yml file:

Model2:
[code]

serverless.yml
[code]

This will cause a cloudformation update failure when Model2 is being applied earlier than Model1. This is due to the CloudFormation update template not including any dependency between the models. With Model1 not yet existing,

[2020-08-05 04:08] thejuan opened #156 "Is this project dead?"
Seems to be little activity

[2020-08-06 12:45] tomaszdudek7 commented on #156
Wondering the same thing.

[2020-08-06 12:48] tomaszdudek7 opened #157 "Does this work with monorepo and multiple serverless.yml files?"
I am looking for an easy way to document my API. This plugin looks great, but I have two concerns:

- does it support multiple serverless.yml files? I have a monorepo strucutre, with `ApiGatewayRestApiId` and `ApiGatewayRestApiRootResourceId` being passed downstream to modules.
- is it dead? last commit was merged 9 months ago. Not great, not terrible.

[2020-08-06 21:05] PierrickI3 commented on #73
Have you been able to find a solution?

[2020-08-11 09:40] AgnivDass commented on #154
Yes, I did.

[2020-08-28 08:35] harryhazza77 commented on #154
- i installed it via yarn
- serverless.yml  - added to in the plugins section
- serverless.yml - add a custom section with some documentation
- did a deploy

it appeared on AWS API Gateway as expected

[code]

[2020-09-09 02:02] johnoh73 opened #162 "Error report. Expected params.location.name to be a string"
ServerlessError: Expected params.location.name to be a string

Below is the code for my serverless.yml
I've put all of the name into string but I'm keep having this error.
Is anyone having same issue as mine?

![image](https://user-images.githubusercontent.com/65884187/92545803-eaafff00-f28b-11ea-8244-5290fa03b25a.png)

![image](https://user-images.githubusercontent.com/65884187/92545818-f3083a00-

[2020-09-09 20:00] adit-malik-synechron commented on #157
I have the same Issue
I use the multirepo structure
so the structure is
MainAPI
-serverless.yml
-ServiceA
--serverless.yml
-ServiceB
--serverless.yml

build step is
cd MainAPI
serverless deploy
cd ServiceA
serverless deploy
cd ..
cd ServiceB
serverless deploy

All request and response are created and mapped properly but when I publish the documents from AWS API gateway (export swagger/openAPI 3 do

[2020-09-15 21:59] milanzivic commented on #155
I'm experiencing the same issue here. Any response from anyone related to the project?

[2020-10-05 10:57] pafede2 commented on #86
It would be great to have if fixed, however it is fair to mention that the script provided helps a lot!

Thanks!

[2020-10-12 23:58] niclego opened #163 "Cannot assign "example" to model types."
I would like to be able to assign examples to model types so in swagger hub I can see an example object.

This photo is what I would expect to work in the model definition:
![Screen Shot 2020-10-12 at 7 53 40 PM](https://user-images.githubusercontent.com/10523557/95800372-2263f980-0cc5-11eb-9afa-85b5b0d5a52d.png)

This photo is what I want to be able to customize in swagger hub:
![Screen Shot 2020

[2020-10-15 07:25] scottbasgaard opened #164 "Error: [ERROR clone] Invalid parameters"
Just installed this plugin for my serverless project and get this error after generating for the first time:

![image](https://user-images.githubusercontent.com/91581/96090320-51968880-0ec8-11eb-92f2-c62fb4ac8334.png)

Thinking a conflict with another plugin?

I've noticed the project is a bit stale and also thinking it's just outdated?

Anyone have any tips or can confirm this still works?

Cheer

[2020-10-15 07:31] scottbasgaard commented on #164
Wrong repo…

[2020-10-15 07:31] #164 closed

[2020-10-15 16:19] martinsson opened #165 "Incompatible with openapi-generator?"
I'm  trying to use openapi-generator before deploying to AWS but it does not understand the $ref syntax

In the example Readme there is a model referencing another model

    $ref: "{{model: Address}}"

When I run serverless-openapi-documentation on this I get an error because it cannot parse it as it is not json schema syntax. Any idea what the work-arounds for this are? I'd hate to duplicate the

[2020-10-19 10:17] ping2ravi opened #166 "Unrecognized property ‘documentation’"
In my server.yml i am defining API documentation as per https://www.serverless.com/plugins/serverless-aws-documentation

I have documentation plugin installed and added like this

[code]

I have function defined like this

[code]

also under custom i have Models defined properly.

Until Few days back it was working fine and suddenly it stopped working, from git i checkout my few days old version o

[2020-10-20 13:18] JoshuaJWilborn commented on #166
Having the same issue after updating packages. Will share solution if I find one.

[2020-10-21 06:35] ping2ravi commented on #166
It Seems like Serverless code issue rather then this plugin issue,  so need to be fixed with in server less and closing this one here

### First Workaround

Rollback your serverless environment to version 2.5.0 (when writing this current version is 2.8.0, 2.6.0 introduced this issue)

Following env is tested and working good.
[code]

I created this Docker image with serverles and aws cli V2 and it

[2020-10-21 06:54] ping2ravi commented on #156
seems like dead, no activity either in issues, or commits, or pull requests.

[2020-10-22 10:00] martinsson commented on #165
I ended up solving this by changing serverless-openapi-documentation although the project seems dead and there's no activity on the pull request. So I published a version
https://www.npmjs.com/package/@martinsson/serverless-openapi-documentation

Repo:
https://github.com/martinsson/serverless-openapi-documentation

[2020-10-22 10:00] #165 closed

[2020-10-28 06:10] ping2ravi commented on #166
It seems it need to be fixed with in this plugin..

https://github.com/serverless/serverless/issues/8438#issuecomment-716180490

[2020-10-28 06:12] ping2ravi commented on #166
The Serverless framework does indeed implement an http event validation since 2.6.0, which does not include documentation property.

The http.documentation property is solely the scope of the serverless-aws-documentation plugin.

All plugin developers are encouraged to include JSON schema definition of their properties for validation, see https://www.serverless.com/framework/docs/providers/aws/gui

[2020-10-28 13:47] medikoo commented on #166
I believe yes. We need `defineFunctionEventProperties` please open a request on Framework side, we'll also be happy to take in PR that adds it.

[2020-10-29 13:14] joaoluizhilario commented on #74
+1 any update on this? some workaround or solution ?

[2020-10-29 13:31] joaoluizhilario commented on #157
+1 any solution or workaround to solve it ?

[2020-10-30 08:37] gcampionpae commented on #74
Sorry the project that I was working on that would have allowed me to spend some time on this has been on hold.  ATM, I just renamed the various components that were similar so they all had different names and didn't overwrite each other :/

[2020-11-08 19:11] Benzer1406 commented on #166
Have the same issue

[2020-11-08 19:13] Benzer1406 commented on #156
Too bad, no release since 2018...

[2020-11-10 14:00] paulalex opened #167 "One API Gateway Multiple Serverless Projects - Documentation is wiped out"
I have multiple serverless projects deploying into the same API gateway and each defines some documentation. When deployed the last one to run overwrites all of the documentation for the previous API that was deployed so there can only ever be one API docs deployed at once.

Is there a fix for this? I am building the API gateway with terraform and then just referencing the gateway ID in all the se

[2020-11-11 19:20] paulalex commented on #157
+1 I have this exact same issue, I am building my API GW in terraform and pushing the values into SSM where they are retrieved from multiple serverless projects and whatever the last one to deploy is the only one which has documentation available.

Have any of you found a fix or workaround for this problem? I am considering writing the documentation by hand now as this plugin seems dead and if the

[2020-11-13 18:27] rsolank1 opened #168 "ServerlessError: Documentation part already exists while deploying Serverless AWS apigateway"
I am getting [ServerlessError: Documentation part already exists] while deployment when I have updated the version in documentation object from version:"8.0.2" to version:"9.0.1".

![serverlessError1](https://user-images.githubusercontent.com/64961192/99107430-d8479e00-260b-11eb-91f2-e4d3ef2eebd3.PNG)
![serverlessError2](https://user-images.githubusercontent.com/64961192/99107442-de3d7f00-260b-11e

[2020-11-16 13:56] daschy commented on #143
+1

[2020-11-17 17:43] bitsofinfo opened #169 "Is this project alive?"

[2020-12-03 17:56] timfulmer commented on #166
+1

[2020-12-06 18:19] sajithneyo commented on #169
@deliveryhero is it?

@bitsofinfo looks like this project is dead

[2020-12-09 14:01] tchock commented on #169
@bitsofinfo @sajithneyo

Sorry for not looking here for a while. We are currently not maintaining it anymore. Mainly because the use case in our company is gone. I already talked with my tech lead about searching a new maintainer, but this didn't advance.
I will ask again about it, because it would be a shame to let this project die as quite many are using it.

[2020-12-09 14:31] sajithneyo commented on #169
@tchock Keeping this project alive will be awesome.

One more thing? Why the use case for this project gone? Documenting using some otherway? If you can shed some light on that statement, that will be awesome!

[2020-12-09 15:17] tchock commented on #169
@sajithneyo We changed to manually writing swagger mainly and also a lot of our team's codebase is going away from serverless.

[2020-12-09 15:30] sajithneyo commented on #169
@tchock I'm currently investing on Serverless. So my last question is, any particular reason for leaving Serverless?

[2020-12-23 06:50] rsolank1 commented on #168
![Serverless_aws_documentation](https://user-images.githubusercontent.com/64961192/102968054-39229a00-4519-11eb-8159-bc382771310b.png)

![apigateway](https://user-images.githubusercontent.com/64961192/102968093-42ac0200-4519-11eb-8b87-cfed0d795eb1.png)

it doesn't matter what limit we set for the getdocumentationparts because AWS does not return more than 500 records per single time.
so when secon

[2020-12-23 15:34] nhammond101 commented on #163
The example tag isn't supported by API Gateway - see https://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-known-issues.html, specifically
<img width="772" alt="Screenshot 2020-12-23 at 15 31 39" src="https://user-images.githubusercontent.com/456479/103012957-4600b700-4534-11eb-902c-e9e0616172c4.png">

[2020-12-23 15:36] nhammond101 commented on #163
Duplicate of #107

[2021-01-19 16:47] ozanyurtsever commented on #166
Having the same issue with version 2.8.0

[2021-01-19 20:05] medikoo commented on #166
`defineFunctionEventProperties` was introduced in  Framework, please check: https://www.serverless.com/framework/docs/providers/aws/guide/plugins#definefunctioneventproperties-helper

Having that this plugin can introduce needed schema

[2021-01-22 20:54] s1mrankaur commented on #86
please fix it

[2021-01-26 12:48] #163 closed

[2021-01-28 15:47] tchock commented on #169
@sajithneyo it was a team decision as the team changed quite a bit and it has more knowledge on other technologies. Also Lambda and API Gateway got quite expensive on heavy load (at least for us, we were writing into Postgres which occupled quite a bit of the runtime) with multiple million events per day.

[2021-01-28 15:48] tchock commented on #169
Unfortunately I have to tell you that this project is no longer continued and also can't be transferred to a new maintainer due to legal reasons.
If you like to continue working on it feel free to fork it and publish under a new name.

[2021-01-28 15:48] tchock commented on #156
Unfortunately I have to tell you that this project is no longer continued and also can't be transferred to a new maintainer due to legal reasons.
If you like to continue working on it feel free to fork it and publish under a new name.

[2021-02-28 22:57] jinman commented on #166
This plugin is not maintained anymore as per its readme. Any suggestions or best practices on best way to move forward having the API documentation generated from serverless.yml file? Are there any other plugin we should use? What is the openapi or any other documentation best practices for 3.0.0?

[2021-04-08 18:07] dls314 commented on #169
Are there any known-updated forks that work with serverless > 2.30.3?

[2021-04-08 19:26] mscannjr commented on #86
Yes please fix it already. It has been a problem for YEARS now.

[2021-04-14 21:02] bdoin opened #173 "Abortion in getDocumentationVersion that ends up in 'Invalid Documentation version specified'."
When AWS getDocumentationVersion is called and that there is no existing version for the API, the error catching is not performed properly and ends up in the error: 'Invalid Documentation version specified'

Not sure but this maybe due to a difference in the way serverless manages the error when calling AWS API.

Now the proper way to handle this is to test (err.providerError && err.providerError.

[2021-04-19 14:50] dls314 opened #175 "Provider integration is broken for serverless >2.30.3"
The search for error message contents from the provider call at https://github.com/deliveryhero/serverless-aws-documentation/blob/master/src/documentation.js#L107 is broken in serverless > 2.30.3 by the change here https://github.com/serverless/serverless/commit/89b813da51cedf80ca66ae4b4ad269edf8614ec0

[2021-04-22 13:32] rojanawi-droople commented on #173
Thanks for the fix!

[2021-04-26 15:39] ottopecz commented on #175
The actual error object thrown by the serverless aws provider has changed in the above mentioned versions.

When expecting an error it's better to rely on something more abstract and formal than the message of the error. Good choices might include the `code` or the `statusCode`

We published a fix and we plan to maintain the package.
https://www.npmjs.com/package/@kakkuk/serverless-aws-apigateway-

[2021-04-26 15:45] ottopecz commented on #173
The actual error object thrown by the serverless aws provider has changed in the newer versions.

The message of the thrown error has become longer although it includes the string 'Invalid Documentation version specified'

When expecting an error it's better to rely on something more abstract and formal than the message of the error. Good choices might include the `code` or the `statusCode`

We pu

[2021-05-21 16:39] ballastlane-agustingambina commented on #143
+1

[2021-05-25 12:54] utsav1810 commented on #86
When can we expect the fix?

[2021-06-08 09:10] AbdullahAli opened #178 "Support for string enum on requestHeaders"
Hi there, I hope you are well

I was wondering does `requestHeaders` support `enum`? Swagger Open API allows you a specify a set of string enum values, but currently this plugin seems to ignore it

[2021-06-08 13:00] AbdullahAli commented on #178
@ottopecz Is this something that needs to be added? I'm happy to write a PR 👍🏼

[2021-06-14 23:33] rivernews commented on #86
It would be great to be able to not having the OPTION endpoints automatically included when exporting the Swagger doc from API Gateway.

This is probably another issue, but the `tags` for each path are missing for the exported Swagger. We use Swagger integration to define the API paths and have tags defined for better grouping. But the exported Swagger stripped them off. It's a pain having to writ

[2021-07-23 12:13] medikoo commented on #169
@tshock Serverless Framework maintainer here. Is this possible to obtain maintenance rights for this plugin? We'd like to ensure it remains working after recent changes to the Framework.

The minimum needed for that is ability to publish new npm releases, as otherwise, if providing maintenance rights to this repo (no need for transfer) is for some reason difficult, we can simply fork the repo as y

[2021-07-23 13:30] tchock commented on #169
Hey @medikoo, as it's licensed under MIT I guess you can copy and redistribute it.
As I don't work for Delivery Hero anymore this is no guarantee though.

I think the only thing that didn't work was to transfer ownership.

[2021-07-23 13:32] tchock commented on #169
Ah, sorry, you asked to publish changes to the existing npm package, right?
@aaleksandrov Can you maybe ask someone within DH if it's possible?

[2021-07-23 13:49] aaleksandrov commented on #169
Hey @tchock man!
What exactly do you want me to do? To ask for transferring right back to you or to allow someone outside of company to publish package? The second one would be probably pretty complex